# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.venv/
ENV/
env/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local env files / secrets
.env
.env.local

# Local DB (optional)
db/school.db
*.sqlite3
